.example-section {
  .toggle-subtasks {
    background-color: white;
    border: none;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    margin-bottom: 12px;
    margin-right: 20px;
    padding: 6px 12px;
    &:hover {
      background-color: #f5f5f5;
    }
  }
}

ul {
  list-style-type: none;
}

.row{
  display: flex;
  margin-inline:45px;
  margin-top: 90px;
  margin-bottom: 10px;
}

.title-row-filter{
  font-family: system-ui;
  font-size: 20px;
  font-weight: 350;
  margin-top:6px;
  margin-right: 20px;
}
