<div class="row">
<div class="title-row-filter">FILTER BY:</div>
<div *ngFor="let task of tasks; let i = index">
  <section class="example-section">
    <span class="example-list-section">
      <mat-checkbox class="example-margin"
                    [checked]="allComplete[i]"
                    [color]="task.color"
                    [indeterminate]="someComplete(i)"
                    (change)="setAll($event.checked, i)">
        {{task.name}}
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <button class="toggle-subtasks" (click)="toggleSubtasks(i)" >
        {{showSubtasks[i] ? '-' : '+'}}
      </button>
      <ul *ngIf="showSubtasks[i]">
        <li *ngFor="let subtask of task.subtasks">
          <mat-checkbox [(ngModel)]="subtask.completed"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete(i)">
            {{subtask.name}}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </section>
</div>
</div>




