<app-toolbar></app-toolbar>

<div class="content">
  <div class="row">
    <div class="column left">
      <ng-container *ngIf="recipe">
        <img src="{{ recipe?.image }}" alt="" width="400px" />
        <div class="row-title">
          <div class="title expandable">{{ recipe?.label | titlecase }}</div>
          <mat-icon class="icon" (click)="downloadPdf()"
            >picture_as_pdf</mat-icon
          >
        </div>
      </ng-container>
      <div class="row-itens">
        <div class="info-item" *ngIf="showInfoItem(recipe.totalTime)">
          <mat-icon>access_alarm</mat-icon>
          <div class="item">{{ recipe.totalTime }} min</div>
        </div>
        <div class="info-item" *ngIf="showInfoItem(recipe.mealType)">
          <mat-icon>restaurant</mat-icon>
          <div class="item">{{ recipe.mealType }}</div>
          <!-- verificar como colocar com letra maiuscula e o porquê que retorna como indefinido -->
        </div>
        <div class="info-item" *ngIf="showInfoItem(recipe.dietLabels)">
          <mat-icon>favorite_border</mat-icon>
          <div class="item">{{ recipe.dietLabels }}</div>
        </div>
        <div class="info-item" *ngIf="showInfoItem(recipe.cuisineType)">
          <mat-icon>language</mat-icon>
          <div class="item">{{ recipe.cuisineType }}</div>
          <!-- verificar como colocar com letra maiuscula e o porquê que retorna como indefinido -->
        </div>
      </div>
    </div>

    <div class="column right">
      <div class="row-nutrient-title">
        <div>NUTRIENT</div>
        <div>QUANTITY</div>
      </div>
      <div class="row-nutrient" *ngFor="let nutrient of nutrients">
        <div style="width: 50%">{{ nutrient.name }}</div>
        <div style="width: 50%">{{ recipe.nutrients[nutrient.key] }}</div>
      </div>
    </div>
  </div>

  <div class="row-description-recipe">
    <div class="title-wrappers" style="padding-bottom: 20px">INGREDIENTS</div>
    <div class="wrapper">
      <div class="row-ingredient" *ngFor="let ingredient of recipe.ingredients">
        <img src="{{ ingredient?.image }}" alt="" width="80px" />
        <div class="ingredient-description">
          <div style="font-weight: 500">{{ ingredient?.text | titlecase }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
