.content {
  margin: 82px auto 32px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-category {
  font-size: 25px;
  font-family: system-ui;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  margin: 0 0 5px 30px;
}

.recipes-row {
  display: flex;
  align-content: flex-start;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 20px 30px 20px 30px;
  width: 1475px; // pq não em %?
  .recipe-item {
    margin: 10px 15px 10px 0;
    padding: 20px 20px 0;
    background-color: lightgray;
    height: 90%;
    width: 80%;
    border-radius: 5px;
    font-family: system-ui;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    img {
      margin-bottom: 10px;
    }
  }
}

.recipe-name {
  margin-bottom: 20px;
  height: 55px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipes {
  width: 100%;
  margin-right: 20px;
}
