.example-section {
  margin: 12px 0;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  //max-width: 960px;
  flex-direction: column;
  align-items: center;
  //background-color: #f3f3f5;
}
